.all-categories{
    color: #002f34 ;
    background-color: white;
    border: none;
}
.all-categories:focus{
    outline: none !important;
}
.items{
    background-color:white !important;
    color: #002f34;
    display: block;
    padding: 4px;
    text-decoration: none;
}
.items:hover{
    background-color: white;
    text-decoration: none;
    color: #23e5db;
}
.items-all{
    width: 900px;
    
}
.allcatw{
    margin-top : 76px !important;
}
