.navbar-background{
    background-color: #f7f8f8;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
}
.logo{

   display: flex;
   justify-content: center;
   align-items: center;
    height: 30px;
    width : 50px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    
}
.logo:focus{
    outline: none;
}

.first-input{
    border: none;
    height: 100%;
    background: transparent;
    width: 140px;
}
.first-wrap{
    border: 2px solid #002f34;
    border-radius: 4px;
    height: 48px;
    padding-left: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.first-wrap-focus{
    border: 2px solid #23e5db;
    border-radius: 4px;
    height: 48px;
    padding-left: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.expand{
     transform: rotate(180deg);
}
.second-input{
    border: 2px solid #002f34;
    background-color: #f7f8f8;
    border-radius: 4px 0 0 4px;
    height: 48px;
    width: 34%;
    margin-left: 20px;
    padding-left: 6px;
}
.second-input:focus{
    border: 2px solid #23e5db;
    outline: none;
}
.second-wrap{
    height: 48px;
    width: 40px;
    background-color: #002f34;
    color: white;
    border-radius: 0 4px 4px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.second-link{
    margin-left: 20px;
    outline: none;
    border: none;
    height: 48px;
    width: 100px;
    border-radius: 180px;
    position: relative;
    cursor: pointer;
    background: linear-gradient(50deg,#ffce32 33%, 33%, #23e5db 66%, 33%, #3a77ff  66% );
    box-shadow: 1px 3px 3px 2px rgba(0,0,0,.2);
}
.second-link span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #002f34;
    z-index: 1;
    position: relative;
    background: transparent;
    text-decoration: none;
}
.second-link::before{
    content: "";
    position: absolute;
    display: block;
    border-radius: 180px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    top: 6px;
    left: 6px;
    background: #f7f8f8;
}
.second-link:focus{
    outline: none;
}
.second-link:hover{
    text-decoration: none;
}
.icons{
    font-size: xx-large;
    border-radius: 100px;
    margin-right: 10px;
    cursor: pointer;
    padding: 2px;
    
}
.icons:hover{
    background-color: #caf6ed;
}
.iflogin{
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.drawer{
    display:none
}
.drawerback{
    background-color: #f7f8f8 !important;
}
@media only screen and (max-width:801px){
    .navbar-background{
        display: none;
        overflow: hidden;
    }
    .drawer{
    display:unset;
    }
    .iflogin{
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: center;
   }
   .butsell{
       border: 2px solid #23e5db;
       text-decoration: none;
       color: #002f34;
       padding: 5px;
       border-radius: 50px;
       width: 100px;
       margin-left: 80px;
   }
   .butsell:hover{
       color: #002f34;
   }
   .loginl{
       padding: 10px;
       margin-right: 80px;
   }
}




